body{
    font-family: Merriweather;
    font-size: 13pt;
}

h1{
    font-weight: 700;
    font-size: 2em;
}


h2{
    font-weight: 700;
    font-size: 1.5em;
    margin-bottom: 8px;
}

p{
    margin-top: 8px;
    margin-bottom: 8px;
}

li>a {
    font-size: 14pt;
}

/* Search bar*/

.help-block{
    display: none;
    position: absolute;
}

.input-group input[type=search] {
    float: right;
   width: 150px; 
    -webkit-transition: 
    width 0.4s ease-in-out;  
    transition: 
    width 0.4s ease-in-out;   
    border-radius: 0;
}  
.input-group input[type=search]:focus {
    width: 100%;
    border-radius: 0;
}
/* navbar*/
.navbar-brand{
    font-weight: 700;
    font-size: 1.35em; 
}

.navbar-default {
    border-radius: 0;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color:#337ab7;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color:#337ab7;
}

/*taxonomy tag labels on blog pages*/
.field--label{
    margin-top: 8px;
}